.form{
    height: 30px;
    width: 500px;
    opacity: 0.5;
    }
    .spantext{
        opacity: 0.5;
    }
.button{
    border-radius: 25px;
    height: 35px;
    color: white;
    background-color: rgba(69, 34, 224, 0.637);
    width: 500px;
}
.mainForm{

}
.hr1{
   display: flex;
   float: left;
   width: 200px;
   margin-left: 10px; 
}
.hr2{
    display: flex;
   float: right;
   width: 200px;
   margin-left: 10px;
}
.hrtable{
    margin-left: auto;
    margin-right: auto;
}
.google{
    border-radius: 25px;
    border-style: solid;
    height: 30px;
    color: blue;
    width: 500px;
    border-width: 1px;
    border-color: rgb(69, 69, 156);
    align-content: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}
.spanGoogle{
    color: blue;
}
body{
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    margin-left: 5px;
}

.table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.tr{border: none;
    opacity: 0.5;
}
.td{
    border-right: solid 1px;
    border-left: solid 1px;
    margin-left: 2px;
    margin-right: 2px;
}
